APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Jc22gq8fayD7UWrVMsAbtReI69+gujk7MjOgCzD4OoY=
APP_DEBUG=true
APP_URL=http://thebigchallenge.test
APP_SERVICE="bigchallenge.test"
SANCTUM_STATEFUL_DOMAINS=.thebigchallenge.test:3000,thebigchallenge.test
SESSION_DOMAIN=thebigchallenge.test

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=the_big_challenge
DB_USERNAME=sail
DB_PASSWORD=password

BROADCAST_DRIVER=log
CACHE_DRIVER=file
#FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
SESSION_DRIVER=cookie
SESSION_LIFETIME=120

MEMCACHED_HOST=memcached

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=ef5563c0a69e73
MAIL_PASSWORD=7eaaf9845afe0f
MAIL_ENCRYPTION=tls
#MAIL_FROM_ADDRESS="hello@example.com"
#MAIL_FROM_NAME="${APP_NAME}"

FILESYSTEM_DISK=s3
AWS_ACCESS_KEY_ID=sail
AWS_SECRET_ACCESS_KEY=password
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=petition-files
AWS_ENDPOINT=http://minio:9000
AWS_USE_PATH_STYLE_ENDPOINT=true

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
